:root {
  --1: #100e0e;
  --prime: #0071e4;
  --03: #b7b7b7;
  --light-grey: #f9f9f9;
  --05: #878787;
  --01: #e7e7e7;
  --06: #706e6e;
  --07: #585656;
  --09: #282626;
  --015: #dbdbdb;
  --light-prime: #2a93fd;
  --icon-ligt: #ccc;
}
:root {
  --font-family: "SF Pro Display", sans-serif;
  --font-family: "Gilda Display", serif;
}